import { I{{pascalCase name}} } from './types';

export const {{pascalCase name}} = ({ text }: I{{pascalCase name}}) => { 
  return (
    <div className="flex">
      <div className="">model:</div>
      <div className="">{text}</div>
    </div>
  );
};